.mat-table{
    width: 100%;
    margin-top: 20px;
}
.maticon{
    position: absolute;
    padding: 20px;
    cursor:pointer;
}
.mattoolbar{
    display:contents;margin-bottom: 20px;
}
.mat-toolbar-row{
    display:contents;
}
.updatingAndAdding{
    margin-top: 20px;
}
.fixHeight{
    min-height: 300px;
}
.updatePointer, .deletePointer{
    cursor: pointer;
}