<div class="mybody container-fluid">
  <div class="myheader  row">
    <!-- <div class="myheader col-lg-12"> -->
    <div class=" col-lg-6">
      <img class="logo" src="../assets/aiawhite-logo.png">
    </div>

    <div class="options col-lg-6">
      <div class="dropdownset">
        <div class="dropdown show">
          <a class="textcolor btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            STORAGE
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Local Storage</a>
            <a class="dropdown-item" href="#">Client-side Cache</a>
            <a class="dropdown-item" href="#">JSON Server</a>
          </div>
        </div>
        <div class="dropdown show">
          <a class="textcolor btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            USERID
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Current ID</a>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="mymainbody  row" >
    <div class="myleftbody col-lg-3">
      <ul>
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/employees">EMPLOYEE</a></li>
        <li><a href="/routing">ROUTING</a></li>
      </ul>
    </div>

    <div class="rightbody col-lg-9">
      <div class="row">
        <div class="col-lg-12 bcbgcolor">BREADCRUMBS</div>
        <div class="row">
          <div class="col-lg-12">
            <div>
              <router-outlet></router-outlet>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="   row">
    <div class="myfooter col-lg-12">
      FOOTER
    </div>

  </div>


</div>